@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  background-color: #ffefef;
  line-height: 1.5;
  text-align: center;
}

header,
section,
footer {
  padding: 20px 100px;
  margin: 0 auto;
  max-width: 1100px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.saturejka__title-text {
  font-size: 16px;
}

.saturejka--width {
  margin: 0 auto;
  max-width: 350px;
}

.saturejka__footer,
.saturejka__main {
  padding: 70px;
}

.saturejka__main {
  background-color: #ffff;
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: inherit;
}

.saturejka__photo {
  flex: 0 1 33%;
}

.photo {
  max-width: 100%;
  min-width: 0;
  height: auto;
}

.flex__item {
  flex: 50%;
  text-align: left;
}

.flex--center {
  align-self: center;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--basis {
  flex: calc(50% - 30px);
}

.padding--top {
  padding: 30px 0;
}

.saturejka__link {
  text-decoration: none;
  display: inline-block;
  background-color: #ffefef;
  padding: 10px;
}

.saturejka__footer {
  font-size: 12px;
  max-width: 850px;
}
